.form-control {
  border-radius: 3px;
  inline-size: 800px;
  margin-inline-start: 18%;
  margin-block-start: 8px;
}
.search-icon {
  position: absolute;
  z-index: 10;
  inset-inline-end: 40%;
  color: blue;
}

.carousel-item img {
  inline-size: 100%;
  block-size: 30vh;
  object-fit: contain;
}
.carousel-caption h2 {
  margin: 0px 903px 58px 0;
}
.carousel-caption h4 {
  margin: 0px 0px 60px 854px;
}
