.container
{
  block-size: 80vh;
  margin: 28px;
  padding: 10px;
  margin-inline-start: 10%;
}
.card-img
{
 inline-size: 100%;
 block-size: 15vh ;
 object-fit: contain;
 overflow: auto;
}
.itemimage
{
  inline-size: 100%;
 block-size: 15vh ;
 object-fit: contain;
}
