<app-navigation></app-navigation>
<header class="bg-dark py-5">
  <div class="px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Fetching Shop Data</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        You can buy what you wish for.
      </p>
    </div>
  </div>
</header>

<ng-container *ngIf="this.cartService.cartItemList.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tbody>
            <tr
              *ngFor="let item of this.cartService.cartItemList; let i = index;"
            >
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td>
                <img style="inline-size: 120px;" src="{{item.image}}" alt="" />
              </td>
              <td style="inline-size: 25%;">
                <marquee behavior="" direction="up"
                  >{{item.description}}</marquee
                >
              </td>
              <th style="inline-size: 12%;">{{item.price}}</th>
              <td style="inline-size: 12%;">
                <button class="btn btn-outline-warning" (click)="decrement(i)">
                  -
                </button>
                <span class="px-2"
                  >{{this.cartService.cartItemList[i].quantity}}</span
                >
                <button class="btn btn-outline-success" (click)="increment(i)">
                  +
                </button>
              </td>
              <td style="inline-size: 12%;">
                $ {{item.total | number : '1.2-2'}}
              </td>

              <td>
                <button (click)="removeitem(item)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-danger mt-auto">
                  Empty Cart
                </button>
              </td>
              <td>
                <button class="btn btn-primary mt-auto" (click)="goTohome()">
                  Shop More
                </button>
              </td>
              <td><button class="btn btn-success mt-auto">Checkout</button></td>
              <td>
                <strong
                  >Grand Total : $ {{this.cartService.getTotalPrice()| number :
                  '1.2-2'}}</strong
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="this.cartService.cartItemList.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
      <div class="card-body p-4">
        <img
          class="card-img"
          src="https://img.freepik.com/free-vector/order-now-banner_52683-48697.jpg?w=2000"
          alt="..."
        />
        <div class="text-center">
          <h5 class="fw-bolder"></h5>
          <h4>Your cart is empty !</h4>
          <h6>Add item to it now</h6>
        </div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <a class="btn btn-outline-dark mt-auto" href="#">Shopnow</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
