
<ng-container >
  <!-- <button (click)="darkMode()">Darkmode</button>
  <button (click)="lightMode()">Lightmode</button> -->
  <section class="py-4 ">
    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 d-flex justify-content-around" >
          <div class="col mb-8 " *ngFor="let item of products">
            <div class="card h-80">

                    <!-- Product image -->
                    <img class="card-img-top " src="{{item.image}}" alt="..." />
                   <!-- Product details -->
                   <div class="card-body p-4 flex-column">
                        <div class="text-center">

                             <!-- Product name -->
                            <h5 class="fw-bolder">{{item.title}}</h5>
                            <p>{{item.description}}</p>
                             <!-- Product reviews -->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price -->
                            <span class="text"><strong>Price:</strong> $</span>
                            {{item.price}}
                          </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addtocart(item)">Add to cart</a></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
</ng-container>


        <!-- <div class="col mb-5 ">
            <div class="card h-100 ">
                <img class="card-img-top" src="{{product.image}}" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{product.title}}</h5>
                        ${{product.price}}
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                </div>
            </div>
        </div> -->
